#signup{
    width:100vw;
    height:100vh;

    .t_and_c_text{
        color:rgb(211, 204, 204);
        font-size: 15px;
        a {
            color:rgb(103, 123, 238);
            text-decoration: none !important;
        }
    }
}
  